body,
nav.navbar,
div.portfolio .container .swiper-slide ,
nav.navbar .container .sidebar
{
    transition:all .2s ease-in-out;
    background-color:#fff;
}
body,
nav.navbar .container div.menu-bar i,
nav.navbar .container div.nav-brand a,
nav.navbar .container div ul li a,
div.portfolio .container .swiper-slide a,
div.header-box .container .follow-me ul li a:hover i{
    color:var(--second_color);
}
div.skills .container .skill-item .title-box svg,
div.services .container .service-item svg{
    fill:var(--second_color);
}
nav.navbar .container .menu-bar span,
footer{
    background-color:var(--second_color);
}
div.header-box .container .content a.btn,
div.header-box .container .content a.btn i,
div.portfolio .container .view-more a.btn,
footer .container header h2,
footer .container div h6,
footer .container div ul li,
footer .container div ul li i,
footer .container div p,
.developed-by p{
    color:#fff;
}
footer .container header h2:before{
    border-color:#fff;
}
.fixed-navbar{
    box-shadow: 0 1px 3px 0 var(--border_color);
}
.developed-by{
    background-color:var(--footer_color);
}
nav.navbar .container .row div::nth-of-type(3) ul li:last-of-type{
    background-color:var(--border_color) !important;
}